.h{
    width: 100%;
    height: 80vh;
}

.serach-box{
    width: 400px;
    border: 1px solid black;
    display: flex;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}
.whislites-position{
    left: 22px;
    top: 7px;
}

.modal-show{
    display: none;
}

html,
body {
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media(max-width:667px){
    .list{
        display: none;
    }
    .modal-show{
        display: block;
    }
} */

.position-relative .hover-img {
  display: none;
}

.hover-overlay {
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.position-relative:hover .hover-overlay {
  opacity: 1;
}

.position-relative:hover .main-img {
  display: none;
}

.position-relative:hover .hover-img {
  display: block;
}


.footer{
  background-color: aliceblue;
  
}

/*  */
.carwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}